# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# Distribución / empaquetado
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Variables de entorno
.env
.env.*
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Archivos de test / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Tipado / lint / formato
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db
