{% extends "base.html" %}

{% block content %}
    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                <p>Urgent: {{ task.urgent }}</p>
                <p>Created at: {{ task.created_at }}</p>
            </li>
        {% empty %}
            <p>No tasks found.</p>
        {% endfor %}
    </ul>

    {% if completed_tasks %}
        <details>
            <summary>
                <h2 style="display: inline;">Compleated tasks</h2>
            </summary>
            <ul>
                {% for task in completed_tasks %}
                    <li>
                        <a href="{% url 'task_detail' task.id %}"><s>{{ task.title }}</s></a>
                        <p>Urgent: {{ task.urgent }}</p>
                        <p>Created at: {{ task.created_at }}</p>
                        <p>Completed at: {{ task.datecompleted }}</p>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}

{% endblock %}
